body {
  font-family:helvetica, sans-serif;
  background-color: #fff7fe;
}

h1 {
  padding-left: 20px;
  font-family:sans-serif;
  color:#cc3300;
}

a {
  text-decoration:none;
  color:#000099;
  /*color:#104e77;*/
}

a:hover {
  /*color:#77b6e2;*/
  color:#0cc3300;
}

#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
    background-color: #ffffe6;
}

.dropdownbutton {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: blue;}